body {
    background-image: url(images/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.searches {
    color: white;
}
.search-bar {
    margin-top: 20px;
}

#add-search {
    margin-left: 385px;
    margin-top: -65px;
}
